Trial Data Bangkit Academy

In [1]:
#import dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [4]:
url = 'https://raw.githubusercontent.com/mmhdagungg/capstone-bangkit-2024/refs/heads/main/dataset_pemasukan_pengeluaran_2023.csv'
df = pd.read_csv(url)
print(df.head())

      Tanggal  Pemasukan  Pengeluaran  Uang Tersedia Keterangan
0  2023-01-01     149679        98608          51071      Bonus
1  2023-01-01      77668        37506          91233  Investasi
2  2023-01-01     116865        41625         166473    Hiburan
3  2023-01-01        903        25707         141669       Gaji
4  2023-01-01     145735       148789         138615  Investasi

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Tanggal        100000 non-null  object
 1   Pemasukan      100000 non-null  int64
 2   Pengeluaran    100000 non-null  int64
 3   Uang Tersedia  100000 non-null  int64
 4   Keterangan     100000 non-null  object
dtypes: int64(3), object(2)
memory usage: 3.8+ MB

In [6]:
df.describe()

           Pemasukan   Pengeluaran  Uang Tersedia
count  100000.000000  100000.00000   1.000000e+05
mean   100027.997720   75154.01473   1.229700e+09
std     57608.667578   43205.01457   7.261689e+08
min         3.000000       8.00000   3.457800e+04
25%     50260.000000   37878.75000   5.908395e+08
50%     99980.000000   75244.00000   1.223426e+09
75%    149924.000000  112337.25000   1.868056e+09
max    199993.000000  149999.00000   2.487398e+09